.navigation {
    margin: 0 auto 0 36vw;
    width: 54%;
    height: 15vw;
}

.links {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links__link-container {
    width: 15vw;
    height: 15vw;
    position: relative;
}

.links__link {
    border: #db7575 1px solid;
    cursor: pointer;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    float: left;
}

.links__link_first {
    background: url('../../images/Greece.JPG') 0 0/cover no-repeat;
}

.links__link_second {
    background: url('../../images/Vegiteble.jpg') 0 0/cover no-repeat;
}

.links__link_third {
    background: url('../../images/Victory.jpg') 0 0/cover no-repeat;
}

.links__link:hover {
    border: #710836 3px solid;
}
