.navigation {
    margin: 0 auto 0 36vw;
    width: 54%;
    height: 15vw;
}

.navigation__links {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
